.tweet-main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    font-size: 17px;
    border-bottom: 0.2px solid gray;
    position: relative;
    z-index: 0;
}

.tweet-main:hover {
    transition: 0.25s;
    background-color: #121212;
    cursor: pointer;
}

.tweet-right-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tweet-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-middle-row > div {
    padding-bottom: 10px;
}

.tweet-bottom-row {
    padding-top: 5px;
    position: relative;
    z-index: 1;
}

.profile-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: white;
}

.tweet-right-column:hover .bottom-row-button {
    border: 1px solid red;
}